body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

.menu a {
  font-weight: 500;
}

.contact ul li a {
  font-weight: 400;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.section-bgcolor {
  background-color: rgba(46, 47, 66, 1);
  width: 1440px;
  height: 600px;
}

.button {
  background-color: rgba(77, 90, 229, 1);
  color: white;
  width: 169px;
  height: 56px;
  font-weight: 500;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgba(46, 47, 66, 1);
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: rgba(46, 47, 66, 1);
}

p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(67, 68, 85, 1);
}

.footer-bgcolor {
  background-color: rgba(46, 47, 66, 1);
  width: 1440px;
  height: 312px;
}

.footer-bgcolor p {
  color: white;
}

.footer-bgcolor p {
  color: white;
}
